@font-face {
    font-family: Gloria-A;
    src: url(resources/gloria-hallelujah-v15-latin/gloria-hallelujah-v15-latin-regular.woff2) format("woff2");
  }

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Gloria-A; 
    
}

.body-bg{
    background-image: url(resources/Fondo.png);
    background-repeat: repeat-y;
    background-size: cover;
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    height: 100vh;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.300) ;
    margin: 0 10%;
    padding: 0 5%;
}
.weird-title{
    margin: 10% 0 0 0;
    font-size: 3em;
    color: #0e4c83;
}
.mid{
    width: 50vw;
    height: 100%;
}
.title-text{
    vertical-align: center;
    text-align: center;
}
.big-number{
    vertical-align: center;
    text-align: center;
    font-size: 4.5rem;
}
.box{
    background-color:#0b4958 ;
    border-radius: 50px;
    display: flex;
    background-size: contain;
    width: 165%;
    margin-left: -32%;
    height: 60%;
    background-repeat: no-repeat;
    padding-top: 3%;
    flex-wrap: wrap;
 }
.boxa{
    background-image: url(resources/Cuadro.png);
    display: flex;
    background-size: contain;
    width: 165%;
    margin-left: -32%;
    height: 90%;
    background-repeat: no-repeat;
    padding-top: 3%;
    flex-wrap: wrap;
}
.box>div{
    text-align: center; 
    flex: 25%;
    margin: 5px;
    padding: 5px;
    order: 1;
}
.box1{
    font-size: x-large;
    width: 50%;
    color: antiquewhite !important;    
}
.box1>h3{
    font-size: 2em;
    margin-left: 30px;
}
.box1>p{
    margin-left: 50px;
    margin-top: -20px;
}
.box2>p{
    margin-left: 0px;
    margin-top: -20px;
}

.box2{
    font-size: x-large;
    width: 50%;
    color: antiquewhite !important;
}

.box2>h3{
     
    font-size: 2em;
}

.box>p{ 
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    width: 90%;
    order: 3;
    font-size: 1.3em;
    color: #c4c889;
    margin: -75px 50px -25px 70px
}

.comment-box{
    display: contents;
}
.sp-f{
    margin-top: -205px;
    color: antiquewhite;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    position: relative;
    font-size: 1.3em;
}
.pop{
    background-size: contain;
    width: 548px;
    height: 254px;
    bottom: 25px;
    position: fixed;
    background-image: url(resources/Popup.png);
    background-repeat: no-repeat;
    background-color: transparent;
}
.pop:hover{
    cursor: pointer;
}
.num{
    display: flex;
    margin: -1em 25%;
}
.num>div{
    flex: 50%;
    margin: 5px;
}
.sus{ 
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    height: 2em;
    position: relative;
    top: 1.5em;
}

.add{ 
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    height: 2em;
    position: relative;
    top: 1.5em;
}
.mint-button{
    background-color: #45ced4;
    color: antiquewhite;
    font-size: 1.5em;
    width: 8em;
    margin: 1em;
    margin-top: 0;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}
.box1>h1{
    background-color: #146167;
    border-radius: 40px 0 0;
    margin-top: -15px;
    margin-right: -50px;
    font-size: 2.5em;   

}

.box2>h1{
    background-color: #146167;
    border-radius: 0 40px 0 0;
    margin-top: -15px;
    margin-left: -25px;
    font-size: 2.5em;

}    
.val{
    font-size: 2.5em;
    margin-top:-1em ;
 } 
 .note{
    text-align: center;
    margin-top: 30px;
    font-size: 1.1em;
    color: white;
    font-weight: bolder;
 }
 /* @media only screen and (max-width: 1438px) { */
    @media only screen and (max-width: 1760px) {
    .box1>h1{ 
        border-radius: 40px   0 0;
        margin-top: -10px;
        margin-right: 0px;
    }
    
    .box2{
        margin-top: -15px;
        width: 30%;
    }
    .box1{
        margin-top: -15px;
        width: 30%;
    }
    .box2>h1{ 
        border-radius: 0 40px 0 0;
        margin-top: -10px;
        margin-left: -30px;
    
    }
    .big-number{
        font-size: 3.5rem;
    }
    .weird-title{
        font-size: 1.5em;
    }    
    .box{
        height: 75%;
    }
    .mint-button{
        margin-left: 0px !important;
        margin: 1em 2em;
    }
    .num {
        display: flex;
        margin: -1em 20%;
    }
 }

 @media only screen and (max-width: 1287px) {
    .box1>h3 {
        font-size: 2em;
        margin-left: 25px;
    }
 }